<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp con Vue</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="sidebar">
            <input type="text" placeholder="Search or start new chat" class="search-bar">
            <div class="contact" 
                 v-for="(contact, index) in contacts" 
                 :key="contact.name"
                 @click="selectContact(index)">
                <img :src="contact.avatar" alt="avatar">
                <div class="contact-info">
                    <div class="name">{{ contact.name }}</div>
                    <div class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-header" v-if="activeContact">
                <img :src="activeContact.avatar" alt="avatar">
                <div class="contact-name">{{ activeContact.name }}</div>
            </div>
            <div class="messages" v-if="activeContact">
                <div v-for="message in activeContact.messages" :class="['message', message.status]">
                    <div class="message-text">{{ message.message }}</div>
                    <div class="timestamp">{{ message.date }}</div>
                </div>
            </div>
            <div class="input" v-if="activeContact">
                <input type="text" v-model="newMessage" @keyup.enter="addMessage" placeholder="Scrivi un messaggio...">
                <button @click="addMessage">Invia</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js" type="text/javascript"></script>
</body>
</html>