<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp con Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="sidebar">
            <div class="user-profile">
                <img :src="user.avatar" alt="avatar">
                <div class="user-name">{{ user.name }}</div>
                <div class="icon-container-user"> 
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>         
            </div>
            <div class="notification-bar">
                <i class="fa-solid fa-bell-slash bell"></i>
                <div class="new-mex">
                    <strong>Ricevi notifiche di nuovi messaggi!</strong>
                    <a class="desktop" href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <input type="text" placeholder="Search or start new chat" class="search-bar" v-model="searchQuery">
            <div class="contact" 
                v-for="(contact, index) in contacts" 
                :key="contact.name"
                @click="selectContact(index)"
                :class="{ active: activeContactIndex === index }">
                <img :src="contact.avatar" alt="avatar">
                <div class="contact-info">
                    <div class="name">{{ contact.name }}</div>
                    <div class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</div>
                    <div class="last-date">{{ getLastMessageDate(contact) }}</div>
           </div>
       </div>
        </div>
        <div class="chat" v-if="activeContact">
            <div class="chat-header">
                <img :src="activeContact.avatar" alt="avatar">
                <div class="contact-name">{{ activeContact.name }}</div>
                <div class="icon-container">
                    <i class="fa-solid fa-magnifying-glass glass"></i>
                    <i class="fa-solid fa-paperclip paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>         
            </div>
            <div class="messages">
                <div v-for="(message, messageIndex) in activeContact.messages" :class="['message', message.status]">
                    <div class="message-text">{{ message.message }}</div>
                    <div class="timestamp">{{ message.date }}</div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Azioni
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#" @click="deleteMessage(activeContactIndex, messageIndex)">Elimina</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="input">
                <i class="fa-regular fa-face-smile smile"></i>
                <input type="text" v-model="newMessage" @keyup.enter="addMessage" placeholder="Scrivi un messaggio...">
                <i class="fa-solid fa-microphone mic"></i>
                <button @click="addMessage"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js" type="text/javascript"></script>
</body>
</html>